/* UTILITIES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro";
    line-height: 1.5;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ff6565;
}

ul {
    list-style: none;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

.text-bold {
    font-weight: 700;
}

.centered-text {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.cta-btn {
    background: #ff6565;
    color: #fff;
    font-family: inherit;
    padding: 1em 2.5em;
    border-radius: 50px;

    box-shadow: 2px 2px 7px hsla(0, 0%, 0%, 0.25);
}

.container {
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1000px;
    margin: 0 auto;
}

/* HEADER */

header {
    background: no-repeat url("./images/headphones_hero_1.jpg") center center;
    background-size: cover;
    background-attachment: fixed;
    height: 135vh;
    color: #fff;
}

.navbar,
.nav-list {
    display: flex;
    padding-top: 1.5em;
}

.navbar {
    justify-content: space-between;
}

.list-item + .list-item {
    margin-left: 3rem;
}

.hero-content {
    display: relative;
    top: 0;
    right: 0;
    transform: translate(0%, 70%);

    max-width: 700px;
    margin: 0 auto;
    /*background: red;*/
}

.subtitle {
    margin-bottom: 2.5rem;
}

.hero-paragraph {
    margin-top: 4rem;
}
