body,
main {
  display: flex;
}

body {
  flex-direction: column;
  line-height: 1.6;
}

main {
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  padding: 2em;
}

aside {
  flex: 1;
  background: #e5e4e2;
}

article,
aside {
  overflow-y: auto;
}

.name-para {
  margin-bottom: 1rem;
}

h3 {
  margin: 2rem 0 1rem;
}

img {
  border-radius: 5px;
  margin-bottom: 1rem;
}
